body, html {
  height: 98%;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

#footer {
	font-family: arial;
	font-size: 65%;
	text-align: center;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
	height: 98%;
}

#right {
	background-color: lightgray;
}

.paper {
	margin:5% 10%;
	padding: 10% 10%;
	box-sizing: border-box;
	width: 80%;
	background-color: #FFF;
}

.paper h3 {
	font-family: arial;
	text-align:center;
	color: #AAA;
}

#preview {
	border-left: 1px dotted #abd7e5;
	border-right: 1px dotted #abd7e5;
}

.shadow {
	position:relative;
	box-shadow:0 10px 40px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before,
.shadow:after {
	content:"";
	position:absolute;
	z-index:-1;
	box-shadow:0 0 40px rgba(0,0,0,0.8);
	top:10px;
	bottom:10px;
	left:0;
	right:0;
	border-radius:100px / 10px;
}
.shadow:after {
	right:10px;
	left:auto;
	transform:skew(8deg) rotate(3deg);
}

.dynamic {
	background-color: white;
}

#editor-bubble { 
	width: 800px;
    position: relative
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main {
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.split p, .split-flex p {
    padding: 20px;
}

.split, .split-flex {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	
    overflow-y: auto;
    overflow-x: hidden;
}

.gutter {
    background-color: #eee;
	
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: ew-resize;
}

.gutter.gutter-vertical {
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: ns-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

